html {
background-color: burlywood;
}

.fondo {
    background-color: burlywood;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 480px;
    margin: auto;
    margin-top: 2%;
    border-radius: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    transition: 0.5s;
}

.fondo.victoria {
    animation-name: victoria;
    animation-duration: 1s;

}

@keyframes victoria {
    0% { background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.536)) }
    15% { background: linear-gradient(rgba(44, 83, 238, 0.495), rgba(255, 255, 255, 0.146)) }
    30% { background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.536)) }
    45% { background: linear-gradient(rgba(44, 83, 238, 0.495), rgba(255, 255, 255, 0.146)) }
    60% { background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.536)) }
    75% { background: linear-gradient(rgba(44, 83, 238, 0.495), rgba(255, 255, 255, 0.146)) }
    90% { background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.536)) }
    100% { background: linear-gradient(none)}
}

@media only screen and (max-width: 650px) {
    .fondo {
        width: 390px;
    }
  }

.center-elements {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.level.is-mobile .level-item {
    margin-right: 0px;
}

.botones {
    background-color: azure;
    width: 100%;
    padding: 3%;
    margin-bottom: 2%;
    border-radius: 10px;
    transition: 0.5s;
}

.descripcionAtaque {
    font-size: 70%;
    margin-top: 2%;
}

.vida {
    margin: 2%;
    margin-top: 1%;
    font-size: 200%;
    font-weight: 900;
    text-shadow: 2px 2px 30px black;
    color: white;
}

.personaje {
    margin-bottom: 10%;
}

#indicadorMensajes {
   background-color: rgba(230, 198, 93, 0.7);
   color: black;
   margin-top: 10px;
   margin-bottom: -5px;
   text-align: center;
   font-size: 90%;
   transition: 0.2s;

}

#indicadorMensajes.alter {
    background-color: rgba(255, 66, 52, 0.9);
    color: white;
    transition: 0.2s;
}

#indicadorMensajesMenu {
    background-color: rgba(230, 198, 93, 0.7);
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    transition: 0.2s;
 }

.personaje img {
    max-height: 200px;
    max-width: 200px;
    width: 100%;
    height: auto;
    margin-top: -15%;
    margin-bottom: -26%;
}

.personaje img.herido {
    animation-name: herido;
    animation-duration: 0.3s;
}

.personaje img.derrotado {
    opacity: 0;
    transition: 2s;
}

@keyframes herido {
    0% {opacity: 1}
    25% {opacity: 0.5}
    50% {opacity: 0}
    75% {opacity: 0.5}
    100% {opacity: 1}
}

#player1 .personaje img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.botones.desactivado {
    opacity: 0.3;
    pointer-events: none;
    transition: 0.5s;
}

#ventanaFinal {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    margin-top: -29%;
    text-align: center;
    font-size: 200%;
    visibility: hidden; 
    opacity: 0;
 }

 #ventanaFinal.visible {
    visibility: visible; 
    opacity: 1;
    transition: 4s;
 }

 .column {
     background-color: white;
     margin: 1%;
     box-shadow: 2px 2px 15px rgba(58, 58, 58, 0.728);
     border-radius: 2%;
     text-align: center;
     display: none;
 }

 .column:hover{
    background-color: rgb(255, 253, 204);
    transition: 0.5s;
    cursor: pointer;
 
 }

 .column img {
     width: 100%;
     border-radius: 2%;
 }

 .columns{
     width: 80%;
     margin: auto;
 }

 .subtitle.is-6 {
     margin-bottom: 2px;
     color: rgb(255, 0, 119);
     font-size: 1.5vw;
 }

 .titulo {
     font-size: 1.5vw;
     font-weight: bolder;
 }

 .tituloAtaque {
     margin-top: 7%;
     font-weight: bold;
     font-size: 80%;
     border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgb(169, 169, 169)
 }

 .describeAtaque {
     font-size: 60%;
 }

 #jugadores {
     align-content: center;
     text-align: center;
     font-weight: 900;
     font-size: 300%;
     color: white;
     margin-top: -15px;
 }

 #jugadores span {
     font-weight: bold;
     font-size: 50%;
     
 }

 .ocultarFondo {
    display: none;
 }